<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">LA FORZA DELLA COMUNITA'</h2>
                <hr class="light">
                <p class="text-faded">Qui trovi spunti, attività e contatti per creare insieme servizi e risorse per la cittadinanza</p>
                <a href="#" class="btn btn-default btn-xl">Inizia subito!</a>
            </div>
        </div>
    </div>
</section>
