<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://parmalab.github.io/labcom.html" class="portfolio-box">
                    <img src="img/PARMALAB logo 1.0.jpg" class="img-responsive" alt="labcom">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                LABORATORI COMPITI
                            </div>
                            <div class="project-name">
                                Progettare insieme il servizio per l'utenza nel post-pandemia
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://parmalab.github.io/risorse.html" class="portfolio-box">
                    <img src="img/PARMALAB logo 1.0.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                RISORSE
                            </div>
                            <div class="project-name">
                               Risorse scelte in base alle problematiche emerse
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/PARMALAB logo 1.0.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                LABORATORI FAMIGLIA
                            </div>
                            <div class="project-name">
                               Attività di socializzazione online
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/PARMALAB logo 1.0.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                LABORATORI FAMIGLIA
                            </div>
                            <div class="project-name">
                               Attività di socializzazione online
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/PARMALAB logo 1.0.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                 CASE DI QUARTIERE
                            </div>
                            <div class="project-name">
                               Percorsi in realtà virtuale
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/PARMALAB logo 1.0.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                INCONTRI DI CO-PROGETTAZIONE
                            </div>
                            <div class="project-name">
                                Partire dalle esperienze per arrivare a schemi di valutazione per una progettualità veramente sostenibile
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/PARMALAB logo 1.0.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                SOCIAL CODING
                            </div>
                            <div class="project-name">
                                Creare siti come questo insieme
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/PARMALAB logo 1.0.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                FOLKBINDLING
                            </div>
                            <div class="project-name">
                                Incontri di formazione tra pari
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
